{% extends 'base.html.twig' %}

{% set imgUrl = "img/hero.jpg" %}
{% set titlePage = "Hotel De Zonne Vallei" %}

{% block title %}Admin{% endblock %}

{% block body %}
    <section id="createRoomForm">
        <article class="roomForm">
            <label for="typeText">Type: </label>
            <input type="text" name="typeText" id="typeText">
            <label for="roomText">Omschrijving: </label>
            <textarea name="textText" id="roomText"></textarea>
            <label for="priceText">Prijs: </label>
            <input type="text" name="priceText" id="priceText">
            <label for="photoFile">Photo: </label>
            <input type="file" name="photoFile" id="photoFile">
            <button id="addRoom">Add room</button>
        </article>
    </section>
    <section id="editRoomForm">
        <article class="roomForm">
            <label for="typeText">Type: </label>
            <input type="text" name="typeText" id="editTypeText">
            <label for="roomText">Omschrijving: </label>
            <textarea name="textText" id="editRoomText"></textarea>
            <label for="priceText">Prijs: </label>
            <input type="text" name="priceText" id="editPriceText">
            <label for="photoFile">Photo: </label>
            <input type="file" name="photoFile" id="editPhotoFile">
            <button id="editSubmitRoom">Edit room</button>
        </article>
    </section>

    <section>
    {% for room in rooms %}
        <section class="flexContainer">
            <article>
                <div class="buttons">
                    <button class="editButton" data-id="{{room.id}}" data-type="{{room.type}}" data-text="{{room.text}}" data-price="{{room.price}}">Bewerken</button>
                    <button class="deleteButton" data-id="{{room.id}}">Verwijderen</button>
                </div>
                <h2>{{ room.type}}</h2>
                
                <p>{{ room.text }}</p>
                {% if room.price %}
                    <p>€ {{ room.price }}</p>
                {% endif %}
            </article>
            {% if room.photo %}
                <img src="{{ asset('uploads/photos/' ~ room.photo) }}" alt="Room photo" class= "contentImg">
            {% endif %}
        </section>
    {% endfor %}
    </section>

    <script>
        addPath="{{path('add_room')}}"
        editPath="{{path('edit_room')}}"
        deletePath="{{path('delete_room')}}"
    </script>
    <script src="{{asset('javascript/add_room.js')}}"></script>
    <script src="{{asset('javascript/edit_room.js')}}"></script>
    <script src="{{asset('javascript/remove_room.js')}}"></script>
{% endblock %}
